{% form_theme form 'UiucCmsUserBundle:Form:fields.html.twig' %}
{% extends 'UiucCmsConferenceBundle::layout.html.twig' %}

{% block content %}
	<div class="container" style="text-align:center; width:300px">

        Send a mass email:
        {{ form_start(form) }}
		{{ form_errors(form) }}

		<div>
			{{ form_label(form.subject) }}
			{{ form_errors(form.subject) }}
			{{ form_widget(form.subject) }}
		</div>

		<div>
			{{ form_label(form.body) }}
			{{ form_errors(form.body) }}
			{{ form_widget(form.body,{ 'attr': {'cols': '40', 'rows': '15'} }) }}
		</div>

		<div>
			{{ form_widget(form.send) }}
		</div>

		{{ form_end(form) }}
	</div>
{% endblock content %}