{% extends "UiucCmsUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="container">
    <div class="page-header" style="text-align:left">
        <h1>
            Manage Users
        </h1>
    </div>
    <p class="lead">
    <table class="table" style="width:500px">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Promote / Demote</th>
            <th>Remove</th>
        </tr>
        {% for user in users %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                {% if user.hasRole("ROLE_SUPER_ADMIN") == false %} 
                    <tr>
                        <td>{{ user.getUserName() }}</td>
                        <td>{{ user.getEmail }}</td>
                        {% if user.hasRole("ROLE_ADMIN") == false %}
                            <td> <a href="{{ path('uiuc_cms_admin_promote', {'id': user.getId()}) }}">Promote</td>
                        {% else %}
                            <td> <a href="{{ path('uiuc_cms_admin_demote', {'id': user.getId()}) }}">Demote</td>
                        {% endif %}
                        <td> <a href="{{ path('uiuc_cms_admin_remove', {'id': user.getId()}) }}">Remove</td>
                    </tr>
                {% endif %}
            {% else %}
                {% if (user.hasRole("ROLE_SUPER_ADMIN") == false) and (user.hasRole("ROLE_ADMIN") == false) %} 
                    <tr>
                        <td>{{ user.getUserName() }}</td>
                        <td>{{ user.getEmail }}</td> 
                        <td> <a href="{{ path('uiuc_cms_admin_promote', {'id': user.getId()}) }}">Promote</td>
                        <td> <a href="{{ path('uiuc_cms_admin_remove', {'id': user.getId()}) }}">Remove</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
    </p>
</div>
{% endblock fos_user_content %}
