{% extends 'UiucCmsConferenceBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="page-header" style="text-align:center">
        <h1>
            Details for {{ conference.name }}
        </h1>
    </div>
    <p class="lead">
        Year: {{ conference.year }} <br>
        City: {{ conference.city }} <br>
        Registration Begins: {{ conference.registerBeginDate|date('Y-m-d h:i:s') }} <br>
        Registration Ends: {{ conference.registerEndDate|date('Y-m-d h:i:s') }} <br>
        Topics: {{ conference.getTopics() }} <br>
    </p>
    <p>
        {% if enrollment %}
            You have enrolled in this conference at {{ enrollment.enrollmentDate|date('Y-m-d h:i:s') }}.
        {% else %}
            <li><a href="{{ path('uiuc_cms_conference_enrollInfo', {'id': conference.id }) }}">Enroll in this conference</a>
        {% endif %}
        
        <li><a href="{{ path('uiuc_cms_conference_homepage') }}">Back to listings</li>
    </p>
</div>
{% endblock content %}
