{% extends 'UiucCmsConferenceBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="page-header" style="text-align:left">
        <h1>
            Details for {{ conference.name }}
        </h1>
    </div>
    <p class="lead">
        Year: {{ conference.year }} <br>
        City: {{ conference.city }} <br>
        Registration Begins: 
            {{ conference.registerBeginDate|date('Y-m-d h:i:s') }} <br>
        Registration Ends: 
            {{ conference.registerEndDate|date('Y-m-d h:i:s') }} <br>
        Topics: {{ conference.getTopics() }} <br>
    </p>
    <p>
        {% if enrollment %}
<<<<<<< HEAD
            You have enrolled in this conference at 
                {{ enrollment.enrollmentDate|date('Y-m-d h:i:s') }}.
=======
            You have enrolled in this conference at {{ enrollment.enrollmentDate|date('Y-m-d h:i:s') }}.
            <div class="panel panel-default" style="text-align: center;">
                <div class="panel-heading"> Food Option </div>
                <div class="panel-body">{{ food }}</div>
                <div class="panel-heading"> Abstract </div>
                <div class="panel-body">{{ abstract }}</div>
            </div>
>>>>>>> 952d22578a9a18571c396337bdf079a4aed46565
        {% else %}
            <li><a href="{{ path('uiuc_cms_conference_enrollInfo', 
                {'id': conference.id }) }}">
                    Enroll in this conference
                </a>
            </li>
        {% endif %}
        
        <br>
        <li><a href="{{ path('uiuc_cms_conference_homepage') }}">Back to listings</li>
    </p>
</div>
{% endblock content %}
