{% extends 'UiucCmsConferenceBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="page-header" style="text-align:left">
        <h1>
            Details for {{ conference.name }}
        </h1>
    </div>
    <p class="lead">
        Year: {{ conference.year }} <br>
        City: {{ conference.city }} <br>
        Registration Begins: 
            {{ conference.registerBeginDate|date('Y-m-d h:i:s') }} <br>
        Registration Ends: 
            {{ conference.registerEndDate|date('Y-m-d h:i:s') }} <br>
        Topics: {{ conference.getTopics() }} <br>
    </p>
    <p>
        {% if enrollment %}
            You have enrolled in this conference at 
                {{ enrollment.enrollmentDate|date('Y-m-d h:i:s') }}.
            
            <div class="panel panel-default" style="width: 400px;">
                    <div class="panel-heading">Food Option</div>
                    <div class="panel-body">{{ enrollment.food }}</div>
                    <div class="panel-heading">Abstract</div>
                    <div class="panel-body">{{ enrollment.abstract }}</div>
                    <div class="panel-heading">Cover Fee</div>
                    <div class="panel-body">
                        {% if enrollment.coverFeeStatus == constant('FEE_STATUS_UNPAID', enrollment) %}
                            <a href="{{ path('uiuc_cms_conference_pay_fee',
                                        {'id': conference.id}) }}">
                                Pay now
                            </a>
                        {% elseif enrollment.coverFeeStatus == constant('FEE_STATUS_PAID', enrollment) %}
                            Paid
                        {% elseif enrollment.coverFeeStatus == constant('FEE_STATUS_EXEMPT', enrollment) %}
                            Exempt
                        {% else %}
                            Unknown; please contact administrator.
                        {% endif %}
                    </div>
            </div>
        {% else %}
            <li><a href="{{ path('uiuc_cms_conference_enrollInfo', 
                {'id': conference.id }) }}">
                    Enroll in this conference
                </a>
            </li>
        {% endif %}
        
        <br>
        <li><a href="{{ path('uiuc_cms_conference_homepage') }}">Back to listings</li>
    </p>
</div>
{% endblock content %}
