{% extends 'UiucCmsConferenceBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    {% if error is defined %}
        <div class="alert alert-danger"> {{ error }} </div>
    {% endif %}
    <div class="page-header" style="text-align:left">
        <h1>
            {{ conference.name }}
        </h1>
    </div>
    <p class="lead">
        Year: {{ conference.year }} <br>
        City: {{ conference.city }} <br>
        Registration Begins: 
            {{ conference.registerBeginDate|date('Y-m-d') }} <br>
        Registration Ends: 
            {{ conference.registerEndDate|date('Y-m-d') }} <br>
        Topics: {{ conference.topics }} <br>
    </p>
    <p>
        {% if enrollment is defined %}
            {% if enrollment != null %}
                You have enrolled in this conference at 
                    {{ enrollment.enrollmentDate|date('Y-m-d h:i:s') }}.
                    <br>
                <table class="table table-striped" style="text-align:left; width:500px;">
                        <tr>
                            <th>Food Option</th>
                            <td>{{ enrollment.food }}</td>
                        </tr>
                        <tr>
                            <th>Abstract</th>
                            <td>
                                <div style="word-wrap: break-word; width: 800px">
                                    {{ enrollment.abstract }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Cover Fee</th>
                            <td>
                            {% if enrollment.coverFeeStatus == constant('FEE_STATUS_UNPAID', enrollment) %}
                                <a href="{{ path('uiuc_cms_conference_pay_fee',
                                            {'id': conference.id}) }}">
                                    Pay now
                                </a>
                            {% elseif enrollment.coverFeeStatus == constant('FEE_STATUS_PAID', enrollment) %}
                                Paid
                            {% elseif enrollment.coverFeeStatus == constant('FEE_STATUS_EXEMPT', enrollment) %}
                                Exempt
                            {% else %}
                                Unknown; please contact administrator.
                            {% endif %}
                        </td>
                    </table>
                
            {% else %}
                {% if conference.registerEndDate|date('U') >= "now"|date('U') %}
                    {% if isFull == true %}
                        Conference is full.
                    {% else %}
                        <li><a href="{{ path('uiuc_cms_conference_enrollInfo', 
                            {'id': conference.id }) }}">
                                Enroll in this conference
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    Registration has closed.
                {% endif %}
            {% endif %}
        {% endif %} 
        <br>
        <a href="{{ path('uiuc_cms_conference_list') }}">Back to listings</a>
    </p>
</div>
{% endblock content %}
