{% form_theme form 'UiucCmsSiteBundle:Form:fields.html.twig' %}
{% extends 'UiucCmsConferenceBundle::layout.html.twig' %}

{% block content %}
	<div class="container">
    <div class="page-header">
        <h1>Enroll in {{ conference.name }}</h1>
    </div>
    <div style="width: 350px">
        {% if error is defined %}
            <div class="alert alert-danger"> {{ error }} </div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <table class="table table-striped" style="text-align:left;">
            <tr>
                <td> {{ form_label(form.food) }} </td>
                <td> {{ form_widget(form.food) }} </td>
            </tr>
            <tr>
                <td> {{ form_label(form.abstract) }} </td>
                <td> {{ form_widget(form.abstract) }} </td>
            </tr>
        </table>
        {{ form_widget(form.enroll) }}
        {{ form_end(form) }}
    </div>
	</div>
{% endblock content %}
