{% extends 'UiucCmsConferenceBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="page-header" style="text-align:left">
        <h1>
            Details for {{ conference.name }}
        </h1>
    </div>
    <!-- TODO: Refactor this section in a template all similar pages can use -->
    <p class="lead">
        Year: {{ conference.year }} <br>
        City: {{ conference.city }} <br>
        Registration Begins: {{ conference.getRegisterBeginDate|date('Y-m-d i:s') }} <br>
        Registration Ends: {{ conference.getRegisterEndDate|date('Y-m-d i:s') }} <br>
    </p>
    <p>
        <h2>
            Attendees:
        </h2>
        {% if attendees is empty %}
            No one has enrolled for this conference yet.
        {% else %}
            {% for attendee in attendees %}
                <p> {{ attendee.firstName }} {{ attendee.lastName }}
            {% endfor %}
        {% endif %}
    </p>
    <p>
        {% if attendees is empty %)
        {% else %}
            <li><a href="{{ path('uiuc_cms_admin_mail', {'id': conference.id}) }}">Send mass email</li>
        {% endif %}
        <li><a href="{{ path('uiuc_cms_conference_view_created') }}">Back to your conferences</li>
    </p>
</div>
{% endblock content %}
