<!DOCTYPE html>
    <h3>
        Details for {{ name }}
    </h3>
    <div>
		Year: {{ year }} <br>
		City: {{ city }} <br>
		Registery Begins: {{ begin.format('Y-m-d:i:s') }} <br>
		Registery Ends: {{ end.format('Y-m-d:i:s') }} <br>
    </div>

	<div>
		<li><a href="../list">Back</li>
	</div> 

</html>
