{% block navigation %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <li class="{% if user_active_menu is not defined or user_active_menu == 'index' %}active{% endif %}">
                    <a class ="navbar-brand" href="{{ path('uiuc_cms_user_index') }}">Home</a>
                </li>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{% if user_active_menu is defined and user_active_menu == 'profile' %}active{% endif %}">
                        <a href="{{ path('fos_user_profile_show') }}">Profile</a>
                    </li>
                    <li class="{% if user_active_menu is defined and user_active_menu == 'conf' %}active{% endif %}">
                    <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Conferences<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('uiuc_cms_conference_list_not_enrolled') }}">Join a conference</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('uiuc_cms_conference_list_enrolled') }}">View enrolled conferences</a>
                                    </li>
                                </ul>
                    </li>            
                    </li>
                    {% block admin_opt %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('uiuc_cms_conference_create') }}">
                                            Create a conference
                                    </a></li>
                                    <li><a href="{{ path('uiuc_cms_conference_view_created') }}">
                                        Manage conferences
                                    </a></li>
                                    <li><a href="{{ path('uiuc_cms_promote_user') }}">
                                        Manage Users
                                    </a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                        {% endif %}
                    {% endblock admin_opt %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                    </li>
                </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% endblock navigation %}
