{% extends '::base.html.twig' %}

{% block body %}
    <!-- this is a hack; TODO: control this in form rendering -->
    <style type="text/css">
        div#jms_choose_payment_method div label.required {
            display: none;
        }
    </style>
    <div class="container" style="width:400px;">
        <h3>
            Order details
        </h3>
        <div>
            Order #{{ order.orderNumber }}
        </div>
        <div>
            Payment amount:  {{ order.amount|number_format(2) }} {{ order.currency }}
        </div>
        <div>
            {{ 'form.choose_payment.title'|trans }}
        </div>
        <form {{ form_enctype(form) }} method="POST">
            {{ form_widget(form.method) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn" id="_submit" name="_submit">
                {{ 'form.choose_payment.submit'|trans }}
            </button>
        </form>
    </div>
{% endblock body %}
