{% extends 'UiucCmsPaymentBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>
                Payment Failed
            </h1>
        </div>
        <div style="width: 400px;">
            <h3>Payment failed</h3>
            <div>
                Order #{{ order.orderNumber }}
            </div>
            <div>
                Payment amount:  {{ order.amount|number_format(2) }} {{ order.currency }}
            </div>
            <div>
                Status: {{ result.status }}
            </div>
            <div>
                ReasonCode: {{ result.reasonCode }}
            </div>
            <a href="{{ return_url }}" class="btn btn-default">
                {{ 'payment.complete.return'|trans }}
            </a>
        </div>
    </div>
{% endblock body %}
