{% extends 'UiucCmsPaymentBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>
                Payment Success
            </h1>
        </div>
        <div style="width: 400px;">
            <div>
                The following payment was successful.
            </div>
            <div>
                Order #{{ order.orderNumber }}
            </div>
            <div>
                Transaction #{{ result.financialTransaction.referenceNumber }}
            </div>
            <div>
                Payment amount:  {{ order.amount|number_format(2) }} {{ order.currency }}
            </div>
            <a href="{{ return_url }}" class="btn btn-default">
                {{ 'payment.complete.return'|trans }}
            </a>
        </div>
    </div>
{% endblock content %}
